[project]
	description = Ansible scenarios
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sergey Galkin (sergeygalkin)
[access "refs/for/refs/*"]
	read = group user/Sergey Galkin (sergeygalkin)
	push = group user/Sergey Galkin (sergeygalkin)
	label-Code-Review = -2..+2 group user/Sergey Galkin (sergeygalkin)
	label-Verified = -1..+1 group user/Sergey Galkin (sergeygalkin)
	rebase = group user/Sergey Galkin (sergeygalkin)
	removeReviewer = group user/Sergey Galkin (sergeygalkin)
	submit = group user/Sergey Galkin (sergeygalkin)
[access "refs/heads/*"]
	read = group user/Sergey Galkin (sergeygalkin)
	create = group user/Sergey Galkin (sergeygalkin)
	push = +force group user/Sergey Galkin (sergeygalkin)
	pushMerge = group user/Sergey Galkin (sergeygalkin)
[access "refs/tags/*"]
	push = group user/Sergey Galkin (sergeygalkin)
	push = +force group user/Sergey Galkin (sergeygalkin)
