[Unit]
Description=OpenVPN connection in netns
After=network.target

[Service]
Type=forking
ExecStart={{ openvpn_config_dir }}/netns-vpn.sh start
ExecStop={{ openvpn_config_dir }}/netns-vpn.sh stop 

[Install]
WantedBy=multi-user.target

